@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #4a90e2;
  --color-primary-dull: #e3f2fd;
}

* {
  font-family: "Exo 2", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

body {
  background-color: #09090b;
  color: white;
}
